@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Flex', sans-serif;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%231A1A1A' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%232B2B2B'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.header {
  color: white;
  text-align: center;
  padding: 2rem 0;
}

.header h1 {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 1rem;
  color: steelblue;
  animation: changeColor 8s infinite alternate;
}

@keyframes changeColor {
  10% {
    color: skyblue;
  }

  50% {
    color: tomato;
  }

  80% {
    color: greenyellow;
  }

  100% {
    color: darkblue;
  }
}

.header h2 {
  font-weight: 100;
  font-size: 1.1rem;
}

.container {
  width: 85%;
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1000px) {
  .container {
    width: 90%;
    justify-content: space-around;
    flex-direction: row;
  }
}

@media only screen and (min-width: 1000px) {
  .original-text {
    width: 70%;
    min-height: 80vh;
    margin-right: 2rem;
  }
  .modified-text {
    width: 25%;
    min-height: 80vh;
  }
}

.original-text {
  width: 90%;
  background: rgba(0, 0, 0, .8);
  border-radius: 1rem;
  overflow: hidden;
  padding: 1rem;
  box-shadow: .2px .2px 20px 0.2px rgba(128, 128, 128, .2);
  animation: shadow 8s infinite alternate;
}

@keyframes shadow {
  25% {
    box-shadow: .2px .2px 20px 0.2px rgba(255, 99, 71, .2);
  }
  50% {
    box-shadow: .2px .2px 20px 0.2px rgba(135, 206, 235, .2);
  }
  75% {
    box-shadow: .2px .2px 20px 0.2px rgba(173, 255, 47, .2);
  }
  100% {
    box-shadow: .2px .2px 20px 0.2px rgba(255, 47, 238, 0.2);
  }
}

@media (min-width: 1000px) {
  .original-text {
    width: 65%;
    height: 750px;
  }
}

.original {
  all: unset;
  width: 100%;
  height: 380px;
  margin-bottom: 1rem;
  color: rgb(197, 197, 197);
}

@media (min-width: 1000px) {
  .original {
    width: 95%;
    height: 550px;
    padding: 1rem;
  }
}

.caution {
  text-align: center;
  font-weight: 100;
  margin-top: 1rem;
}

.modified-text {
  width: 90%;
  background: gainsboro;
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid white;
  padding: 1rem;
  margin-top: 1.5rem;
}

@media (min-width: 1000px) {
  .modified-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin-top: 0;
    height: 750px;
  }
}

.modified {
  all: unset;
  width: 100%;
  height: 180px;
  color: rgb(77, 77, 77);
}

.img-search {
  display: none;
}

@media (min-width: 1000px) {
  .modified {
    width: 95%;
    height: 150px;
    padding: 1rem;
  }

  .img-search {
    display: block;
    width: 90%;
    margin-bottom: 10rem;
    display: flex;
    justify-content: center;
  }

  .img-search img {
    width: 100%;
    filter: drop-shadow(0 0 0.3rem rgb(114, 114, 114));
  }
}

.buttons {
  margin-top: 2rem;
  padding: 3px;
  display: flex;
  justify-content: space-around;
  bottom: 1.5rem;
}

.dark-button {
  all: unset;
  cursor: pointer;
  background: tomato;
  padding: 1rem;
  color: white;
}

.light-button {
  all: unset;
  cursor: pointer;
  border: .5px solid tomato;
  padding: 1rem;
  color: tomato;
}

.animate {
  opacity: 0;
  animation: opacity .3s forwards;
}

@keyframes opacity {
  to{
    opacity: 1;
  }
}